<div *ngIf="(!isLoading && movies.length > 0); else secondaryContent">
  <div *ngFor="let genre of genres" class="p-2 p-md-4">
    <h3>{{genre}}</h3>

    <div class="row">
      <div *ngFor="let movie of movies | genreFilter: genre; trackBy: trackById" class="card col-md-4 col-xl-3 p-0"
           (click)="openDetails(movie)">
        <img class="card-img-top"
             alt="Art"
             [defaultImage]="'/assets/images/placeholder.gif'"
             [lazyLoad]="movie.backdrop">
      </div>
    </div>
  </div>
</div>

<ng-template #secondaryContent>
  <div class="d-flex justify-content-center">
    <div *ngIf="isLoading; else noResult" class="spinner-border text-secondary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</ng-template>

<ng-template #noResult>
  <h6>Sorry, no results found for your search.</h6>
</ng-template>
